.u-title{
	color: white;
	text-decoration: none;
	font-weight: thin;
	text-align: center;
	padding: 1em;
	margin: 0;
}
.u-containerDefault{
	max-width: 50em;
}
.test-align{
	display: block;
	margin: auto;
	max-width: 20.5em;
	text-align: left;
}
/*==============Menu==================*/
.MainMenu
{
	position: fixed;
	text-align: center;
	background-color: #013C3D;
	left: 0;
	right: 0;
	z-index: 1;
	height: 3.75em;
	top: 0;
}
.MainMenu-list{
	margin: 0;
	padding: 0;
}
.MainMenu-item{
	display: inline-block;
	padding-right: .93em;
}
.MainMenu-item:hover{
	border-bottom: 1px solid orange;
}
.MainMenu-item:active{
	background-color: orange;
	color: white;
}
.MainMenu-link{
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
}
.MainMenu-link:visited{
	background-color: orange;
}
/*==============Header==================*/
.Header
{
	margin-top: 3.75em;
	background-image: url(../images/portada.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}
.Header-imageContainer
{
	margin: 0;
}
.Header-image
{
	border: .31em solid white;
	border-radius: 50%;
	margin: 0.9em 0;
}
.Header-link
{
	color: white;
	font-size: 2.2em;
	font-weight: 500;
	text-decoration: none;
}
.Header-name
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin: 0;
}
.Header-phone
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin-bottom: 0;
}
.Header-mail
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 0.3em;
}
 
/*==============Profile==================*/


.Profile{ 
	text-align: center;
	background-color: #F7A954;
}
.Profile-description{
	margin:  0em 1em 2em 1em;
	font-weight: 100;
	color: #CE741B;
}
.Profile-item{
	display: inline-block;
	max-width: 20.5em;
	border : 1px solid #CE741B;
	border-radius: 10%;
	margin: 1em;
}
.Profile-aprenderImage{
	width: 9em;
	margin-top: 1.5em;
	border-radius: 50%;
}
.Profile-aprender{
	text-align: center;
	width: 80%;
	font-size: .8em;
	padding-left: 10%;
}
.Profile-aprenderTitle{
	color: white;
	font-weight: normal;
}
.Profile-aprenderDescription{
	font-weight: normal;
}
.Profile-testTitle{
	color: rgba(167, 34, 34, 1);
	text-align: center;
	max-width: 43%
}
.Profile-testLine{
	display: block;
	position: relative;
	top: -1em;
}
.Profile-testCicle{
	display: inline-block;
	background-color: #f1f1f1;
	width: .625em;
	height: .625em;
	border-radius: 50%;
}
.Profile-testLongline{
	display: inline-block;
	vertical-align: 4px;
	margin-left: -.312em;
	background-color: #f1f1f1;
	width: 82%;
	min-width: 19em;
	height: .187em;
}
.Profile-test1{
	display: inline-block;
	max-width: 20.5em;
	border-radius: 10%;
	margin: 1em;
}
.Profile-test1Profile{
	margin: 1em;
}
.Profile-test1Image{
	display: inline-block;
	width: 3.125em;
	height: 3.125em;
	background-color: pink;
	border-radius: 50%;
	position: relative;
	left: -1em;
}
.Profile-test1Datos{
	display: inline-block;
	margin-bottom: 0;
}
.Profile-test1Name{
	position: relative;
	top: -.7em;
	text-align: left;
	margin-bottom: .5em;
}
.Profile-test1Description{
	position: relative;
	margin: 0em 1em;
	top: -1em;
}
/*==============Work==================*/
.Work{
	text-align: center;
}
.Work-title{
	color: rgba(38, 173, 173, 1);
}
.Work-align{
	margin-left: 1.6em;
}
.Work-item{
	display: inline-block;
	margin: 0 1.8em 1.8em 0;	
	position: relative;
}
.Work-itemContainer{
	margin: 0;
}
.Work-image{
	position: relative;
}
.Work-imageDescription{
	position: absolute;
	right: 0;
	left: 0;
	top:9.9em;
	font-size: 1.1em;
	color: white;
	background-color: rgba(0, 0, 0, .7);
	padding: .8em;

}
/*==============Footer==================*/
.Footer{
	background-color: #F7A954;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}
.Footer-left{
	color: #8C4C0D;
	max-width:20em;
	margin: -1em auto;
	vertical-align: top;
	padding: 1.5em;

}
.Footer-title{
	color: white;
	text-align: center;
}
.Footer-form{
	position: relative;
	text-align: center;
	display: inline-block;
}
.Footer-formInput,
.Footer-textarea{
	background: white;
	border:none;
	display: block;
	padding: .5em;
	margin: 0 auto 1em;
	width: 18em;
}
.Footer-textarea{
	resize: none;
}
.Footer-formButton{
	position: relative;
	background: #FFE600;
	color: #8C4C0D;
	border:none;
	padding: .5em 1em;
	margin-bottom: 1em;
	margin-left: -14em;	
}
.Footer-lineButton{
	position: absolute;
	padding-top:.2em;
	padding-left:5em;
	background-color: #BFA404;
	left:0;
	top:16.3em;
}
.Gracias{
	margin:0;
}
.Gracias-imagen{
	margin: auto;
	width: 4.125em;
	height: 4.125em;
	background-color: pink;
	border-radius: 50%;
	position: relative;
}
.Gracias-description{
	color: #8C4C0D;
	margin: 0;
	padding: 2em 0;
}