.u-title{
	color: white;
	text-decoration: none;
	font-weight: thin;
	text-align: center;
	padding: 1em;
	margin: 0;
}
.u-containerDefault{
	max-width: 50em;
}
.test-align{
	display: block;
	margin: auto;
	max-width: 20.5em;
	text-align: left;
}
/*==============Menu==================*/
.MainMenu
{
	position: fixed;
	text-align: center;
	background-color: #013C3D;
	left: 0;
	right: 0;
	z-index: 1;
	height: 3.75em;
	top:0;
}
.MainMenu-list{
	margin:0;
	padding: 0;
}
.MainMenu-item{
	display: inline-block;
	padding-right: 15px;
}
.MainMenu-item:hover{
	border-bottom: 1px solid orange;
}
.MainMenu-item:active{
	background-color: orange;
	color:white;
}
.MainMenu-link{
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
}
.MainMenu-link:visited{
	background-color: orange;
}
/*==============Header==================*/
.Header
{
	margin-top:3.75em;
	background-image: url(../images/portada.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}
.Header-imageContainer
{
	margin: 0;
}
.Header-image
{
	border: 5px solid white;
	border-radius: 50%;
	margin: 0.9em 0;
}
.Header-link
{
	color: white;
	font-size: 2.2em;
	font-weight: 500;
	text-decoration: none;
}
.Header-name
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin: 0;
}
.Header-phone
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin-bottom: 0;
}
.Header-mail
{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 0.3em;
}
 
/*==============Profile==================*/


.Profile{ 
	text-align: center;
	background-color: #FFA440;
}
.Profile-description{
	margin:  0em 1em 2em 1em;
	font-weight: 100;
	color:#CE741B;
}
.Profile-item{
	display: inline-block;
	max-width: 20.5em;
	border : 1px solid #CE741B;
	border-radius: 10%;
	margin: 1em;
}
.Profile-aprenderImage{
	width: 9em;
	margin-top: 1.5em;
	border-radius: 50%;
}
.Profile-aprender{
	text-align: center;
	width: 80%;
	font-size: .8em;
	padding-left: 10%;
}
.Profile-aprenderTitle{
	color:white;
	font-weight: normal;
}
.Profile-aprenderDescription{
	font-weight: normal;
}
.Profile-testTitle{
	color:#4C4C4C;
	text-align: center;
	margin-left: -9em;
}
.Profile-testLine{
	display: block;
	position: relative;
	top:-1em;
}
.Profile-testCicle{
	display: inline-block;
	background-color: #f1f1f1;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.Profile-testLongline{
	display: inline-block;
	vertical-align: 4px;
	margin-left:-5px;
	background-color: #f1f1f1;
	width: 82%;
	min-width: 19em;
	height: 3px;
}
.Profile-test1{
	display: inline-block;
	max-width: 20.5em;
	border-radius: 10%;
	margin: 1em;
}
.Profile-test1Profile{
	margin: 1em;
}
.Profile-test1Image{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: pink;
	border-radius: 50%;
	position:relative;
	left:-1em;
}
.Profile-test1Datos{
	display: inline-block;
	margin-bottom: 0;
}
.Profile-test1Name{
	position: relative;
	top: -.7em;
	text-align: left;
	margin-bottom: .5em;
}
.Profile-test1Description{
	position: relative;
	margin: 0em 1em;
	top: -1em;
}
/*==============Work==================*/
.Work{
	margin-top: 2em;
	text-align: center;
}
.Work-title{
	color: rgba(38, 173, 173, 1);
}
.Work-item{
	display:inline-block;
	margin: 0 1.8em 1.8em 0;	
}
.Work-imageContainer{
	margin: 0;
}
.Work-description{
	font-size: 1.1em;
	color: #515151;
	font-style: italic;
}
.Footer{
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 2em 0;
	text-align: center;
}
.Footer-left{
	display: inline-block;
	max-width:20em;
	margin: 1em auto;
	vertical-align: top;
	text-align: left; 
	padding: 0 1.5em;
}
.Footer-title{
	color:white;
}
.Footer-description{
	
}
.Footer-form{
	text-align: center;
	display: inline-block;
}
.Footer-formInput,
.Footer-textarea{
	background: white;
	border:none;
	display: block;
	border-radius: 2em;
	padding: .5em;
	margin: 0 auto 1em;
}
.Footer-textarea{
	resize: none;
}
.Footer-formButton{
	background: orange;
	color:white;
	border-radius:1em;
	border:none;
	padding: .5em 1em;
	margin-bottom: 1em;
}

